@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*,::before,::after{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family:'Roboto', sans-serif ;
 font-size: 1em;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px red;

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: antiquewhite;
    padding: 2em;
    border-radius: 10px;
}
form input[type='text'],input[type='number'],input[type='email']{
    width: 300px;
    padding:10px ;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    color:rgb(82, 50, 50);
    /* text-align: center; */
}
form textarea{
    width: 300px;
    height: 150px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    
}
form input[type='submit']{
    padding: 10px;
    /* width: 100px; */
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
form input[type='submit']:hover{
    background-color: green;
    color: white;
    text-align: center;

}

.success{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    flex-direction: column;
}
